/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #212529;
}

a {
    color: #FF654DFF;
    text-decoration: none !important;
}

a:hover {
    color: #FF654DFF;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
}

h2 {
    border-bottom: 2px solid #FF654DFF;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.brand-name {
    color: #FF654DFF;
}

/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home-intro {
    width: 100%;
}

#home-intro .container {
    padding-top: 72px;
}

#home-intro h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#home-intro h1 > .txt {
    border-right: 1rem solid #fff;
    color: #FF654DFF;
    animation: blink 0.6s infinite;
}

#home-intro p {
    color: #FFFFFF99;
    margin-bottom: 50px;
    font-size: 24px;
}

#home-intro .btn-get-started {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin-bottom: 10px;
    color: #fff;
    background: #FF654DFF;
}

#home-intro .btn-get-started:hover {
    background: #FF654DBF;
}

#home-intro .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #home-intro {
        text-align: center;
    }

    #home-intro .animated {
        -webkit-animation: none;
        animation: none;
    }

    #home-intro .intro-img {
        text-align: center;
    }

    #home-intro .intro-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #home-intro h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #home-intro .intro-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #home-intro .intro-img img {
        width: 80%;
    }

    #home-intro .btn-get-started {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@media (min-width: 1200px) {
    #home-intro br {
        display: none;
    }
}

@media (min-width: 472px) and (max-width: 767px) {
    #home-intro br {
        display: none;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes blink {
    0% {
        border-right: 0.08rem solid rgba(255, 255, 255, 1);
    }
    100% {
        border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
    }
}

@keyframes blink {
    0% {
        border-right: 0.08rem solid rgba(255, 255, 255, 1);
    }
    100% {
        border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
    }
}


/*--------------------------------------------------------------
# Quiz Section
--------------------------------------------------------------*/
#home-quiz .container {
    padding-top: 15px;
    border-radius: 0.33rem;
}

#home-quiz h2 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 40%;
    background-color: white;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hover img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.hover-2 .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-2-title {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    transition: transform 0.33s;
}

.hover-2-buttons {
    opacity: 0;
    width: 100%;
    transition: all 0.75s;
}

.hover-2:hover .hover-2-title {
    transform: translateY(-3rem);
}

.hover-2:hover .hover-2-buttons {
    bottom: 0.5rem;
    opacity: 1;
}

.hover-2:hover .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#home-about {
    width: 100%;
}

#home-about .container {
    padding-top: 72px;
}

#home-about h2 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#home-about p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#home-about .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #home-about {
        text-align: center;
    }

    #home-about .animated {
        -webkit-animation: none;
        animation: none;
    }

    #home-about .about-img {
        text-align: center;
    }

    #home-about .about-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #home-about h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #home-about .about-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #home-about .about-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

