/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #212529;
}

a {
    color: #FF654DFF;
    text-decoration: none !important;
}

a:hover {
    color: #FF654DFF;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Jost", sans-serif;
}

h2 {
    border-bottom: 2px solid #FF654DFF;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

.brand-name {
    color: #FF654DFF;
}

.btn-primary {
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px 11px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin-bottom: 10px;
    color: #fff !important;
    border-color: #FF654DBF !important;
    background: #FF654DFF !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #FF654DBF !important;
}

.btn-secondary {
    color: #fff !important;
    border-color: #0275d8 !important;
    background: #0275d8 !important;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background: rgba(2, 117, 216, 0.9) !important;
}


/*--------------------------------------------------------------
# Home Section
--------------------------------------------------------------*/
#home-intro {
    width: 100%;
}

#home-intro .container {
    padding-top: 72px;
}

#home-intro h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#home-intro h1 > .txt {
    border-right: 1rem solid #fff;
    color: #FF654DFF;
    animation: blink 0.6s infinite;
}

#home-intro p {
    color: #FFFFFF99;
    margin-bottom: 50px;
    font-size: 24px;
}

#home-intro .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #home-intro {
        text-align: center;
    }

    #home-intro .animated {
        -webkit-animation: none;
        animation: none;
    }

    #home-intro .intro-img {
        text-align: center;
    }

    #home-intro .intro-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #home-intro h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #home-intro .intro-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #home-intro .intro-img img {
        width: 80%;
    }

    #home-intro .btn-primary {
        font-size: 16px;
        padding: 10px 24px 11px 24px;
    }
}

@media (min-width: 1200px) {
    #home-intro br {
        display: none;
    }
}

@media (min-width: 472px) and (max-width: 767px) {
    #home-intro br {
        display: none;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@-webkit-keyframes blink {
    0% {
        border-right: 0.08rem solid rgba(255, 255, 255, 1);
    }
    100% {
        border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
    }
}

@keyframes blink {
    0% {
        border-right: 0.08rem solid rgba(255, 255, 255, 1);
    }
    100% {
        border-right: 0.08rem solid rgba(255, 255, 255, 0.2);
    }
}


/*--------------------------------------------------------------
# Quizzes Section
--------------------------------------------------------------*/
#home-quizzes .container {
    padding-top: 15px;
    border-radius: 0.33rem;
}

#home-quizzes h2 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 40%;
    background-color: white;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
}

.hover img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.hover-2 .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}

.hover-2-title {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    transition: transform 0.33s;
}

.hover-2-buttons {
    opacity: 0;
    width: 100%;
    transition: all 0.75s;
}

.hover-2:hover .hover-2-title {
    transform: translateY(-3rem);
}

.hover-2:hover .hover-2-buttons {
    bottom: 0.5rem;
    opacity: 1;
}

.hover-2:hover .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
#home-about {
    width: 100%;
}

#home-about .container {
    padding-top: 72px;
}

#home-about h2 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#home-about p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

#home-about .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
    #home-about {
        text-align: center;
    }

    #home-about .animated {
        -webkit-animation: none;
        animation: none;
    }

    #home-about .about-img {
        text-align: center;
    }

    #home-about .about-img img {
        width: 50%;
    }
}

@media (max-width: 768px) {
    #home-about h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #home-about .about-img img {
        width: 70%;
    }
}

@media (max-width: 575px) {
    #home-about .about-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/*--------------------------------------------------------------
# Quiz Section
--------------------------------------------------------------*/
#quiz-section .container {
    padding-top: 15px;
    border-radius: 0.33rem;
}

#quiz-section .question {
    background: #FF654DFF;
    padding: 20px;
    color: #fff;
    border-bottom-right-radius: 55px;
    border-top-left-radius: 55px;
}

#questionNumber {
    margin-right: 22px;
    background-color: #ffffff;
    color: #aaaaaa;
}

#quiz-section .container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#quiz-section ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #111111;
}

#quiz-section ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

#quiz-section ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 25px 25px 25px 80px;
    margin: 10px auto;
    height: 30px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

#quiz-section ul li:hover label {
    color: #FFFFFF;
}

#quiz-section ul li .check {
    display: block;
    position: absolute;
    border: 5px solid #AAAAAA;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    top: 30px;
    left: 20px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

#quiz-section ul li:hover .check {
    border: 5px solid #FFFFFF;
}

#quiz-section ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 14px;
    width: 14px;
    top: 3px;
    left: 3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

#quiz-section input[type=radio]:checked ~ .check {
    border: 5px solid #FF654DFF;
}

#quiz-section input[type=radio]:checked ~ .check::before {
    background: #FF654DFF; /*attr('data-background');*/
}

#quiz-section input[type=radio]:checked ~ label {
    color: #FF654DFF;
}


@media (max-width: 991px) {
    #quiz-section .btn-group-vertical {
        padding-top: 3rem;
    }
}

